{% extends 'schoolquiz/base.html' %}
{% block head %}
<script>
    function unfade(){
        document.getElementById('quizadd').style.display = "block";
    }
</script>
{% endblock %}        
{% block body %}
<div class="container">
    <div class="row">
        
        <div class="col-sm=12" style="margin-top: 20px; margin-bottom: 20px;" align="center">
            <button type="submit" name="newquiz" class="btn btn-success" onclick="unfade()">ADD NEW QUIZ</button>
            <a href="/logout"><button type="submit" class="btn btn-danger">{{request.user}}, Logout</button></a>
        </div><br>
        <div class="col-sm-12" align="center" style="display: none;" id="quizadd">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        <form method="POST">{% csrf_token %}
            <label>QUIZ Name:</label>
            <input type="text" name="name" class="form-control"><br>
            <input type="submit" name="submit" class="btn btn-success" value="Submit">
        </form>
    </div>
        <div class="col-sm-4"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-12">
{% for i in quiz %}
<div class="col-sm-4">
<div class="card" style="width: 18rem; margin-top: 20;">
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{i.createdby}}</h6>
      <p class="card-text">{{i.createdon}}</p>
      <a href="addquestions?name={{i.name}}&&by={{i.createdby}}&&on={{i.createdon}}" class="card-link">View</a>
    </div>
  </div>
</div> 
{% endfor %}
</div>
</div>
{% endblock %}